<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Student Course</title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
</head>
<body>
<div  class="container-fluid">
<h1>Course Information</h1>
<table border="1" class="table">
<tr class="thead-dark" >
<th>COURSE ID </th>
<th>COURSE CODE</th>
<th>COURSE NAME</th>
<th>ACTION</th>
</tr>

<tr  th:each="course:${courseList}">
<td th:text="${course.id}"></td>
<td th:text="${course.coursecode}"></td>
<td th:text="${course.coursename}"></td>
<td>
<a th:href="@{/bookNow/{id} (id=${course.id})}" class="btn btn-primary">Book</a>
</td>
</tr>

</table>
</div>

</body>
</html>