<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Student Management System</title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
</head>
<body>
<div  class="container-fluid">
<a th:href="@{/addNewStudent}" class="btn btn-primary">Add New Student</a>
<a th:href="@{/course}" class="btn btn-primary">Course</a>
<h1>STUDENT LIST</h1>
<table border="1" class="table">
<tr class="table-info">
<th>USER ID </th>
<th>STUDENT CODE</th>
<th>FIRST NAME</th>
<th>LAST NAME</th>
<th>EMAIL ID</th>
<th>PHONE NUMBER</th>
<th>ACTIONS</th>

</tr>
<tr class="table-danger" th:each="student:${studentList}">
<td th:text="${student.userid}"></td>
<td th:text="${student.studentcode}"></td>
<td th:text="${student.firstname}"></td>
<td th:text="${student.lastname}"></td>
<td th:text="${student.emailid}"></td>
<td th:text="${student.phonenumber}"></td>
<td>
<a th:href="@{/showUpdate/{id} (id=${student.id})}" class="btn btn-primary">Update</a>
<a th:href="@{/deleteStudent/{id} (id=${student.id})}" class="btn btn-primary">Delete</a>


<!--  <a  th:href="" class="btn btn-primary">Delete</a>-->
</td>

</tr>
</table>
</div>

</body>
</html>