<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Course Updation</title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
</head>
<body>

<form action="#" th:action="@{/saveCourse}" method="POST" th:object="${course}">

<input type="hidden" th:field="*{id}"/><br>
<input type="text" th:field="*{coursecode}" placeholder="Enter coursecode"></input><br>
<input type="text" th:field="*{coursename}" placeholder="Enter coursename"></input><br>
<input type="Submit"></input>


</form>
</body>
</html>